<%- include('../includes/adminHeader.ejs') %>

<body>
    <%- include('../includes/adminNav.ejs') %>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2"><% if (editing) { %>Edit<% } else { %>Create<% } %> User</h1>
        </div>
        <form action="/admin/users/<% if (editing) { %>edit<% } else { %>create<% } %>" method="POST" novalidate>
            <% if (hasError) { %>
            <h1 class="h6 mb-3 fw-normal text-danger">Error creating, please try again</h1>
            <% } %>
            <div class="col-6">
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control <%= validationErrors.find( e => e.path === 'username') ? 'invalid' : '' %>" id="username" name="username" value="<% if (editing || hasError) { %><%= user.username %><% } %>">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control <%= validationErrors.find( e => e.path === 'password') ? 'invalid' : '' %>" id="password" name="password">
                </div>
                <div class="mb-3">
                    <label for="firstName" class="form-label">First Name</label>
                    <input type="text" class="form-control <%= validationErrors.find( e => e.path === 'firstName') ? 'invalid' : '' %>" id="firstName" name="firstName" value="<% if (editing || hasError) { %><%= user.firstName %><% } %>">
                </div>
                <div class="mb-3">
                    <label for="lastName" class="form-label">Last Name</label>
                    <input type="text" class="form-control <%= validationErrors.find( e => e.path === 'lastName') ? 'invalid' : '' %>" id="lastName" name="lastName" value="<% if (editing || hasError) { %><%= user.lastName %><% } %>">
                </div>
                <% if (editing) { %>
                <input type="hidden" value="<%= user._id %>" name="userId">
                <% } %>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary"><% if (editing) { %>Update<% } else { %>Create<% } %></button>
                </div>
            </div>
        </form>
    </main>
    </div>
    </div>

    <%- include('../includes/adminFooter.ejs') %>

</body>

</html>