<%- include('../includes/header.ejs') %>

<body>
    <%- include('../includes/navigation.ejs') %>

    <!-- Page content-->
    <div class="container py-4">
        <main class="form-signin w-300 m-auto">
            <div class="container">
                <h4 class="mt-5"><%=meeting.meetingDate %></h4>
                <h4><%=meeting.meetingLocation %></h4>
              </div>
            <div class="table-responsive small">
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th scope="col">Meeting Night</th>
                            <th scope="col">Location</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                    </tbody>
                </table>
            </div>
        </main>
    </div>

    <%- include('../includes/footer.ejs') %>

</body>

</html>